$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$white: rgb(255, 255, 255);
$light-grey: rgb(238, 238, 238);
$blue: rgb(129, 179, 210);

$dark-text: black;
$light-text: $white;
$button-color: $blue;
$mobile-menu-color: $blue;
