$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$blue: rgb(129, 179, 210);
$dark-blue: rgb(102, 158, 192);
$darken-blue: rgb(84, 150, 189);
$gray: rgb(238, 238, 238);
$dark-gray: rgb(242, 242, 242);

$text-color: #000000;
$other-text-color: #ffffff;
$button-background: $blue;
$button-background-hover: $dark-blue;
$button-background-active: $darken-blue;
$nav-background: #ffffff;
$mobile-nav-background: $blue;
$mobile-nav-background-hover: $dark-blue;
$mobile-nav-background-active: $darken-blue;
$item-nav-color-hover: $blue;
$item-nav-color-current: rgb(118, 99, 87);
$reasons-background: $gray;
$reasons-img-background: $blue;
$advantages-background: #ffffff;
$footer-background: rgb(254, 254, 254);
$input-background: $dark-gray;
$radio-checked: rgb(51, 51, 51);
