.advantages-list {
  @include reset-list;

  padding: 20px;

  background-color: #ffffff;
}

.advantages-list__item {
  position: relative;
  padding: 15px 0;
  margin-left: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--housing::before {
    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icon-present.svg");
  }

  &--foods::before {
    background-image: url("../img/icon-burger.svg");
  }
}

.advantages-list__title {
  margin: 0;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantages-list__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;
  }

  .advantages-list__item {
    box-sizing: border-box;
    width: 256px;
    margin: 0;
    padding: 160px 45px 60px;

    text-align: center;

    &::before {
      top: 57px;
      left: 50%;

      width: 77px;
      height: 77px;

      transform: translateX(-50%);
    }

    &:nth-child(2) {
      order: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages-list__item {
    width: 400px;
    padding: 160px 70px 60px;
  }
}
