.input-text__label {
  margin-right: 15px;

  color: $text-color;
  text-transform: uppercase;
}

.input-text__field {
  padding: 16px 20px;
  flex-grow: 1;

  min-width: 190px;

  font: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  background-color: $input-background;
  border: none;
  border-radius: 0;
  box-sizing: border-box;

  &::placeholder {
    color: $text-color;
  }

  &--textarea {
    width: 100%;
    height: 160px;
    resize: none;
  }

  &:hover {
    background-color: $input-background-hover;
  }

  &:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 4px $input-background-active;
    outline: none;
  }
}
