.page-header {
  position: relative;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  bottom: -33px;
  z-index: 2;

  margin-left: -51px;
}

.page-header__image {
  width: 102px;
  height: 83px;
}
